* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* --------------------  **HEADER START**  ----------------------------- */
header {
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
}

/*  navbar start  */
.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 3vw 9.48vw;
    align-items: center;
}

.logo {
    font-size: 3.33vw;
    color: #424242;
    font-weight: 700;
    cursor: pointer;
    transition: 0.7s;
}

.navlist ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlist ul li {
    list-style: none;
}

.navlist ul li a {
    text-decoration: none;
    padding: 0.75vw 1.48vw;
    padding-right: 0;
    font-weight: 500;
    color: #424242;
    transition: 0.7s;
}

/* hover  */
.navlist ul li a:hover,
.logo:hover {
  color: rgb(255, 191, 0);
}
/*  navbar end  */
.header-text {
  padding: 3vw 20vw;
  text-align: center;
}
.header-title {
  font-size: 4vw;
  font-weight: 700;
  color: #131313;
  padding: 2vw 0;
}
.header-details {
  font-size: 1.1vw;
  font-weight: 400;
  color: #727272;
  padding: 0 0 2vw 0;
}
.btn {
  padding: 1vw 1.6vw;
  background: #ff900e;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.7s;
  font-size: 1.3vw;
  font-weight: 600;
  color: #ffff;
  border-color: transparent;
}
.btn:hover {
  color: #f2f6f7;
  background-color: rgb(209, 106, 21);
  transition: 0.7s;
  transform: scale(1.1);
}
/* banner img  */
.banner-img {
  padding: 2vw 10vw;
  border-radius: 8px;
}
.banner-img img {
  width: 100%;
  height: 100%;
}
/* --------------------  *Header END*  ----------------------------- */

/* ********************  **MAIN START** ********************* */

/* ------  **QUICK Features (Section-1) START**  ------ */

 .container {
    padding: 3.5vw 10vw;
  }
  .quick-features {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quick-images {
    padding-left: 4vw;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .item-img {
    padding: 0.7vw;
    border-radius: 8px;
  }
  .item-img img {
    width: 100%;
    height: 100%;
  }
  .quick-text {
    padding: 0 5vw;
  }
  .qick-title {
    font-size: 3vw;
    font-weight: 500;
    color: #727272;
  }
  .qick-title strong {
    color: #131313;
    font-weight: 700;
  }
  .span-color-features {
    color: #ff900e;
  }
  .quick-details {
    padding: 1vw 0;
    color: #727272;
    font-size: 1vw;
  }

  /* ------  *Quick Features (Section-1) END*  ------ */

    /* ------  **LOVABLE Features (Section-2) START**  ------ */
.lovable-features {
    padding: 8vw 0 0 0;
  }
  .text-man {
    display: flex;
    align-items: flex-end;
  }
  .feature-title {
    color: #131313;
    font-weight: 700;
    font-size: 2.5vw;
    border-left: 0.3vw solid #ff900e;
    padding: 0 0.8vw;
  }
  .feature-details {
    padding: 1vw 18vw 2vw 0;
    font-size: 0.9vw;
    font-weight: 400;
    color: #727272;
  }
  
  .devices-version {
    width: 60%;
    margin: 1vw;
    padding-right: 136.6;
    padding: 2vw 10vw 2vw 2vw;
    box-shadow: 0px 0px 10px rgb(168, 163, 163);
  }
  .devices-version-title {
    font-size: 1.2vw;
    font-weight: 600;
    padding: 0.6vw 0;
    color: #131313;
  }
  .devices-version-details {
    color: #727272;
    font-size: 0.9vw;
    font-weight: 400;
  }

  .devices-versions:hover {
    transform:scale(1.1)
  }
  .right-man {
    margin: -3vw 0 -3vw 0;
  }
  .man {
    position: static;
    
  }
  .man img {
    width: 100%;
    height: 100%;
  }
  
  .ten-year-btn {
    position: relative;
    bottom: 4vw;
    left: -5vw;
    font-size: 2vw;
    padding: 2vw 2vw;
    color: #ffffff;
  }
  .experience {
    font-size: 1vw;
    font-weight: 400;
  }
  
  /* ------  *Lovable Features (Section-2) END*  ------ */

      /* ------  **FACTS (Section-3) START**  ------ */
  
  .facts-items {
    margin-top: 4vw;
  }
  .fact-title {
    font-weight: 700;
    font-size: 2.2vw;
    padding: 1vw 0;
    color: #131313;
  }
  .fact-details {
    font-size: 1vw;
    font-weight: 400;
    color: #727272;
    padding: 1vw 0;
  }
  .fact-list-items {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vw;
  }
  .fact-item {
    border: 1px solid rgb(209, 216, 112);
    text-align: center;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.8s;
    position: relative;
  }
  .fact-item:hover {
    background-color: rgb(196, 111, 21);
    color: #ffffff;
    transform:scale(1.1)
  }
  
  /* ------  *Facts (Section-3) END*  ------ */

  /* ------  **BONUS (Section-4) START**  ------ */
  .plan-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.plan-title{
    font-size: 45px;
    color: #131313;
    margin-bottom: 10px;   

}


.plan-sub-title{
    font-size: 16px;
    color: #727272;
}

  .pricing-list{
    margin-top:50px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap:15px ;
    width: 100%;
   
}

.bonus-card{
    box-shadow: 0px 6px 50px #d5d1d15d;
    border-radius: 10px;
    padding: 50px;
    transition: 1s;
}
.bonus-card:hover{
    transform: scale(1.1);
    cursor: pointer;
    color:#ff900e;
    background-color: rgb(187, 158, 127);
    
}

.bonus-title{
    color: #727272;
    font-size: 20px;
   
}

.bonus-sub-title{
    color: #131313;
   padding-bottom: 5px;

}

.bonus-dis{
    padding-top: 5px;
    color: #727272;

}
  /* ------  *Bonus (Section-4) END*  ------ */

  
       
  /* ------  **SPONSORS (Section-5) START**  ------ */
.sponspors {
    padding: 7vw 0;
  }
  .sponspors-top-part {
    text-align: center;
  }
  .sponspors-title {
    font-size: 2.7vw;
    font-weight: 700;
    color: #131313;
  }
  .sponspors-details {
    font-size: 1vw;
    font-weight: 400;
    color: #727272;
    padding: 2vw 0;
  }
  .sponspor-logo-container
   {
    display: flex;
    justify-content: space-evenly;
    padding: 2vw 0;
    align-items: center;
  }
  .sponspor-logo img {
    width: 80%;
    height: 80%;
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
    
  }

  /*adding grayscale hover effect*/
  .sponspor-logo:hover {
    filter: none;
  -webkit-filter: grayscale(0);
    transform:  rotate(-5deg) scale(1.1);
  }
  /* ------  *Sponsors (Section-5) END*  ------ */
  
  /* ----------------------  **FOOTER START**  --------------------------------- */
  .footer {
    text-align: center;
    padding: 2vw 7vw;
    margin: 0 7vw;
  }
  .footer-text {
    font-size: 0.9vw;
    padding: 1vw 3vw;
    background: #fff4e7;
    border-radius: 8px;
    color: #424242;
  }

  /* ********************  *MAIN END* ********************* */

  /* -----------------------  *Footer END*  --------------------------------- */
  
  /* ----------------------   Responsive (max width 576px, Breakpoint: X-Small )  --------------- */
  
  @media screen and (max-width: 576px) {
    /* --------------------  **HEADER START**  ----------------------------- */
    /* navbar start  */
    .navbar-container,
    .navlist ul {
      flex-direction: column;
    }
    .navlist {
      margin: 4vw 0;
    }
    .navlist ul {
      align-items: center;
      justify-content: center;
    }
    .navlist ul li {
      width: 100%;
      height: 4vw;
      padding: 1vw 6vw;
      text-align: center;
    }
    /* navbar end  */
    /* banner start  */
    .header-title {
      font-size: 4.5vw;
    }
    .header-details {
      font-size: 2vw;
    }
    .btn {
      padding: 2vw 4vw;
      font-size: 2.3vw;
      font-weight: 700;
    }
    /* banner end  */
    .quick-features {
      flex-direction: column;
    }
    .item-img {
      box-shadow: 0px 0px 20px rgb(66, 49, 49);
    }

    /* --------------------  *Header END*  ----------------------------- */
    /* ------  **QUICK Features (Section-1) START**  ------ */
    .items {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
    .quick-text {
      text-align: center;
    }
    .qick-title {
      margin-top: 20px;
      font-size: 5vw;
    }
    .quick-details {
      font-size: 2vw;
      margin-bottom: 2vw;
    }
    /* ------  *QUICK Features (Section-1) END*  ------ */
        /* ------  **LOVABLE Features (Section-2) START**  ------ */
    .text-man {
      flex-direction: column-reverse;
    }
    .man img {
      width: 100%;
    }
    .buttom {
      width: 100%;
      text-align: center;
    }
    /* ------  *Lovable Features (Section-2) END*  ------ */
       /* ------  **FACTS (Section-3) START**  ------ */
    .fact-title {
      font-size: 5vw;
      font-weight: 700;
    }
    .fact-details {
      font-size: 2vw;
      font-weight: 500;
    }
    .feature-title {
      font-size: 4vw;
      padding: 20px 15px;
    }
  
    .devices-version,
    .feature-details,
    .devices-version-details,
    .devices-version-title {
      width: 100%;
      border-radius: 8px;
      font-size: 2vw;
      overflow: hidden;
      box-sizing: border-box;
    }
    .fact-list-items {
      flex-direction: column;
      align-items: center;
      gap: 2vw;
    }
    .fact-item {
      width: 30vw;
      height: 30vw;
      padding: 20px 20px;
      box-sizing: border-box;
    }
    .fact-number {
      font-size: 3vw;
      font-weight: 700;
      padding: 10px 0;
    }
    .fact-deatils {
      font-size: 1.8vw;
      font-weight: 500;
    }

    /* ------  *Facts (Section-3) END*  ------ */

    /* ------  **BONUS (Section-4) START**  ------ */
    .plan-title,  .sponsors-title, .some-facts-title{
        font-size:30px ;
        
   
     }
 
     .pricing-list {
         flex-direction: column;
  /* ------  *Bonus (Section-4) END*  ------ */
    /*
    
    /* ------  **SPONSORS (Section-5) START**  ------ */
    .sponspors-title {
      font-size: 5vw;
      padding: 3vw 0;
      font-weight: 700;
    }
    .sponspors-details {
      font-size: 2vw;
      font-weight: 500;
    }
    .sponspor-logo-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .sponspor-logo {
      text-align: center;
      margin: 2vw;
    }
    .sponspor-logo img {
      width: 50%;
      opacity: 40%;
    }
    /* ------  *Sponsors (Section-5) END*  ------ */

      /* ----------------------  **FOOTER START**  --------------------------------- */
    .footer-text {
      font-size: 2vw;
    }
  
   /* -----------------------  *Footer END*  --------------------------------- */
  }
  
  /* ----------------------   Responsive (max width 992px, Breakpoint: Large)  --------------- */
  @media screen and (min-width: 577px) and (max-width: 992px) {
  }